/* Définition de la police personnalisée */

@font-face 
{
    font-family: 'Raleway';
    src: url('raleway/raleway-regular.eot');
    src: url('raleway/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('raleway/raleway-regular.woff') format('woff'), /* Modern Browsers */
         url('raleway/raleway-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('raleway/raleway-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */
*
{
    box-sizing: content-box;
}

body
{
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}

.container
{
    max-width: 1400px;
    margin: auto;
}

.flex
{
    display: flex;
    justify-content: space-between;
}

/* Logo */

#logo img
{
    width: 90px;
    height: 45px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 45px;
}

nav a
{
    font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
    transition: all 450ms;
}

.inscription
{
    font-weight: bold;
    color: #0065FC;
}

/* Research */

.found h1
{
    font-size: 1.3em;
    margin-top: 25px;
    margin-bottom: 5px;
}

.found p
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.search
{
    background-color: #F2F2F2;
    display: flex;
    height: 40px;
    width: 300px;
    border-radius: 5px 0 0 5px;
}

.mapMarker
{
    width: 2em;
    text-align: center;
    font-size: 0.9em;
}

.mapMarker em
{
    margin-top: 0.7rem;
}

.searchIcon
{
    display: none;
}

#myResearch
{
    border: 1px #F2F2F2 solid;
    padding-left: 8px;
}

::placeholder
{
    font-weight: bold;
    color: black;
}

.bouton
{
    border: 3px #0065FC solid;
    background-color: #0065FC;
    color: white;
    border-radius: 0 5px 5px 0; 
    font-weight: bold;
}

/* Filters */

.filters
{
    display: flex;
    margin-top: 35px;
}

.filters h2
{
    font-size: 1.1em;
}

.icon 
{
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 20px;
    width: fit-content;
    height: 35px;
    margin-right: 10px;
    margin-left: 50px;
    font-weight: bold;
    transition: all 300ms;
}

.icon:hover
{
    background-color: #DEEBFF;
}

.icon p 
{
    margin: 0;
}

.ecoRomPets
{
    border-radius: 50%;
    padding: 10px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fa-child
{
    border-radius: 50%;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: #DEEBFF;
    color:#0065FC;
}

/* Informations */

.infos
{
    display: flex;
    margin-top: 35px;
}

.fa-info
{
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    width: 18px;
    height: 18px;
    color:#0065FC;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}

.infos p
{
    margin-left: 15px;
}

/* Accomodation + Popular */

article
{
    width: 66%;
}

aside
{
    width: 30%;
}

h4
{
    padding-left: 6px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.accomodationPopular p 
{
    padding-left: 6px;
    font-size: 0.8em;

}

.stars
{
    display: flex;
    padding-left: 6px;
}

.fa-star
{
    color: #0065FC;
    font-size: 0.6em;
    padding-top: 6px;
}

.grey
{
    color: #F2F2F2;
}

/* Section Accomodation */

.sectionAccomodation
{
    margin-top: 20px;
}

.sectionAccomodation h2
{
    border-radius: 10px 10px 0 0;
    background-color: #F2F2F2;
    margin: 0;
    padding: 25px;
    font-size: 1.3em;
}

.sectionAccomodation h3
{
    border-radius: 0px 0px 10px 10px;
    background-color: #F2F2F2;
    margin: 0;
    padding: 30px;
    font-size: 1em;
}

/* Accomodation */

#accomodation
{
    background-color: #F2F2F2;
    border: 1px blue transparent; /* Border test*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.picturesAccomodation
{
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    max-width: 23%;
    height: 100%;
    margin: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
}

.picturesAccomodation p
{
    margin: 0;
}

.extractAccomodation
{
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

/* Section Popular */

.sectionPopular
{
    display: flex;
    flex-direction: column;
    border: 1px red transparent; /* Border test */
    background-color: #F2F2F2;
    max-width: 80%;
    border-radius: 10px 10px 10px 10px;
    height: 97%;
    margin-top: 20px;
}

.h2i
{
    display: flex;
}

.h2i h2
{
    font-size: 1.3em;
    padding-left: 10px;
    padding-top: 25px;
}

.h2i i
{
    padding-top: 45px;
    font-size: 1.2em;
    margin-left: 30%;
}

/* Popular */

.picturesPopular
{
    border: 5px white solid; /* border test */
    background-color: white;
    border-radius: 10px;
    margin: 3%;
    margin-top: 6%;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
}

.extractPopular
{
    border: 1px blue transparent;
    width: 25%;
    height: 90px;
    border-radius: 10px 0px 0px 10px; 
    float: left;
    object-fit: cover;
    
}

.picturesPopular h4
{
    padding-left: 30%;
}

.picturesPopular p 
{
    border: 1px transparent maroon   ;
    margin: 5px;
    padding-left: 28%;
}

.price1
{
    border: 1px transparent black;
    font-size: 0.8em;
}

.starsPopular
{
    border: 1px red transparent; /* border test */
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
}

/* Third Section -> Activities */

.activitiesMarseille h2
{
    font-size: 1.3em;
    border: 1px black transparent;
    max-width: 1400px;
    padding-top: 60px;
    margin: auto;
}

.containerActivities
{
    max-width: 1400px;    
    border: 1px red transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
}

.containerActivities a
{
    text-decoration: none;
}

.containerActivities p
{
    font-weight: bold;
    color: black;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.cards
{
    border: 1px transparent red;
	background-color: white;
	border-radius: 17px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
    margin-top: 40px;
    margin-right: 50px;
    transform: scale(1);
    transition: 300ms;
}

.cards:hover
{
    transform: scale(1.15);
}

/* Activities -> Big Pictures */

.iA
{
    grid-row: 1 / 3;
}

.iC 
{
    grid-row: 1 / 3;
}

.bigPictures
{
    width: 300px;
    height: 400px;
    border: 1px blue transparent;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);

}

/* Activites -> Little Pictures */

.iB
{
    grid-row: 1;
}

.paulHermann
{
    border: 1px blue transparent;
    width: 300px;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: 65% 35%;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
}

.florianWehde
{
    width: 300px;
    height: 170px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: 90% 10%;	
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
}

.kevinHikari
{
    width: 300px;
    height: 150px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: 90% 10%;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
}

.lenaPaulin
{
    width: 300px;
    height: 150px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
}

/* Footer */

footer 
{
	display: flex;
	flex-flow: row wrap;
	background-color: #F2F2F2;
    margin-top: 5%;
    padding-left: 10%;
}

footer ul
{
	list-style-type: none;
    width: 100%;
    margin-top: 5%;
}

footer li
{
    margin-bottom: 5%;
}

#ourAccomodations
{
    margin-left: 10%;
}

#assist
{
    margin-left: 10%;
}



                                /* Media Queries */

@media all and (max-width: 480px)
{

   /* HEADER */ 

   #logo
   {
       display: flex;
       align-items: flex-end;
   }

   nav
   {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
   }

   nav ul
   {
   display: flex;
   width: 100%;
   justify-content: space-around;
   }

   nav li 
   {
       margin: 10px;
   }

   nav a:hover
   {
       border-top: none;
   }

   .inscription
   {
       width: 100%;
   }

   .acco, .acti 
   {
    border-bottom: 3px solid #F2F2F2;
    width: 50%;	
   }

   .acco a, .acti a, .inscription a 
   {
    font-size: 1em;
   }

   .acco a, .acti a 
   {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;   
   }

   /* Research */

   .found h1
   {
       flex-wrap: wrap;
       font-size: 1.2em;
   }

   .search
   
	{
		position: relative;
		display: flex;
		justify-content: center;
	}

	.search input
	{
		width: 70%;
		height: auto;
	}
   
    .mapMarker
    {
        border: 1px transparent black;
        text-align: unset;
        width: 20px;
    }

   .searchIcon
   {
       display: flex;
       margin: 10px;
       font-weight: bold;
       background-color: #0065FC;
       color: white;
       text-align: center;
   }

   .bouton
   {
       display: none;
   }

   /* Filtres */
   
   
    .filters
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.filters h2
	{
		width: 100%;
		padding-top: 5px;
	}

	.icon
	{
        margin: 0;
    }

    .ecoRomPets
    {
        position: left;
    }
    /* Accomodation */

    .accomodationPopular
    {
		display: flex;
		width: 100%;
    }

    #accommodation
	{
		display: flex;
		flex-flow: wrap;
		max-width: 100%;
    }
    
    .sectionAccomodation, .sectionAccomodation h3
    {
        width: 100%;
    }

    .picturesAccomodation
    {
        width: 100%;
		height: 100%; 
    }

    /* Popular */

    .sectionPopular
    {
        display: flex;
	    flex-flow: row wrap;
	    background-color: #F2F2F2;
        max-width: 100%;
    }

    .h2i
    {
        width: 100%;
    }

    .picturesPopular
    {
		height: auto;
    }

    /* Activities */

    .activitiesMarseille
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
    }

    /* Footer */

	footer
    {
        width: 100%;
        height: auto;
	}

    footer li 
    {
        font-size: 0.9em;
    }