/* Définition de la police personnalisée */

@font-face 
{
    font-family: 'Raleway';
    src: url('raleway/raleway-regular.eot');
    src: url('raleway/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('raleway/raleway-regular.woff') format('woff'), /* Modern Browsers */
         url('raleway/raleway-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('raleway/raleway-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    border: 1px black transparent; /* bordure test*/
}

#logo img
{
    width: 90px;
    height: 45px;
    margin-left: 70%;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 45px;
}

nav a
{
    font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 24px;
}

.inscription
{
    font-weight: bold;
    color: #0065FC;
}

/* First Section */

.firstSection
{
    border: 1px black transparent; /* bordure test*/
    padding-top: 15px;
    margin-left: 3%;
}

/* First Section -> Research */

.found h1
{
    font-size: 1.3em;
    margin-top: 25px;
    margin-bottom: 5px;
}

.found p
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.search
{
    background-color: #F2F2F2;
    display: flex;
    height: 40px;
    width: 300px;
    border-radius: 5px 0 0 5px;
    border: 
}

.mapMarker
{
    width: 2em;
    text-align: center;
}

.mapMarker em
{
    margin-top: 0.7rem;
}

#myResearch
{
    border: 1px #F2F2F2 solid;
    padding-left: 8px;
}

::placeholder
{
    font-weight: bold;
    color: black;
}

.bouton
{
    border: 3px #0065FC solid;
    background-color: #0065FC;
    color: white;
    border-radius: 0 5px 5px 0px; 
    font-weight: bold;
}

/* First Section -> Filters */

.filter
{
    display: flex;
    margin-top: 3%;
    margin-bottom: 5px;

}

.filter h2
{
    font-size: 1.1em;
}

p
{
    margin: 0;
}

.eco 
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    width: fit-content;
    height: 42px;
    margin-right: 10px;
    margin-left: 2%;
    font-weight: bold;
    text-align: center;
}

.fa-money-bill-wave
{
    border-radius: 50%;
    padding: 0.8em;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fam
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    height: 42px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.fa-child
{
    border-radius: 50%;
    padding: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #DEEBFF;
    color:#0065FC;
}

.romance
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    height: 42px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.fa-heart
{
    border-radius: 50%;
    padding: 0.8em;
    background-color: #DEEBFF;
    color: #0065FC;
}

.dog
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    height: 42px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.fa-dog
{
    border-radius: 50%; 
    padding: 0.8em;
    background-color: #DEEBFF;
    color:#0065FC;
}

/* First Section -> Informations */

.infos
{
    display: flex;
    margin-top: 2%;
}

.infos p
{
    margin-left: 15px;
    margin-top: 6px;
}

.fa-info
{
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    width: 18px;
    height: 18px;
    color:#0065FC;
    margin-left: 10px;
    text-align: center;
    padding: 0.2em
}