/* Définition de la police personnalisée */

@font-face 
{
    font-family: 'Raleway';
    src: url('raleway/raleway-regular.eot');
    src: url('raleway/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('raleway/raleway-regular.woff') format('woff'), /* Modern Browsers */
         url('raleway/raleway-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('raleway/raleway-regular.svg#Raleway') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
}

/* Header */

.container
{
    max-width: 1600px;
    margin: auto;
}

.flex
{
    display: flex;
    justify-content: space-between;
}

#logo img
{
    width: 90px;
    height: 45px;
    margin-left: 10%;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 45px;
}

nav a
{
    font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
}

.inscription
{
    font-weight: bold;
    color: #0065FC;
}

/* First Section */

.firstSection
{
    border: 1px black transparent; /* bordure test*/
    max-width: 1200px;
    margin: auto;
}

/* First Section -> Research */

.found h1
{
    font-size: 1.3em;
    margin-top: 25px;
    margin-bottom: 5px;
}

.found p
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.search
{
    background-color: #F2F2F2;
    display: flex;
    height: 40px;
    width: 300px;
    border-radius: 5px 0 0 5px;
}

.mapMarker
{
    width: 2em;
    text-align: center;
}

.mapMarker em
{
    margin-top: 0.7rem;
}

#myResearch
{
    border: 1px #F2F2F2 solid;
    padding-left: 8px;
}

::placeholder
{
    font-weight: bold;
    color: black;
}

.bouton
{
    border: 3px #0065FC solid;
    background-color: #0065FC;
    color: white;
    border-radius: 0 5px 5px 0px; 
    font-weight: bold;
}

/* First Section -> Filters */

.filter
{
    display: flex;
    margin-top: 3%;
    margin-bottom: 5px;

}

.filter h2
{
    font-size: 1.1em;
}

p
{
    margin: 0;
}

.eco 
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    width: fit-content;
    height: 42px;
    margin-right: 10px;
    margin-left: 2%;
    font-weight: bold;
    text-align: center;
}

.fa-money-bill-wave
{
    border-radius: 50%;
    padding: 0.8em;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fam
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    height: 42px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.fa-child
{
    border-radius: 50%;
    padding: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #DEEBFF;
    color:#0065FC;
}

.romance
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    height: 42px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.fa-heart
{
    border-radius: 50%;
    padding: 0.8em;
    background-color: #DEEBFF;
    color: #0065FC;
}

.dog
{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 0.8em;
    height: 42px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}

.fa-dog
{
    border-radius: 50%; 
    padding: 0.8em;
    background-color: #DEEBFF;
    color:#0065FC;
}

/* First Section -> Informations */

.infos
{
    display: flex;
    margin-top: 2%;
}

.infos p
{
    margin-left: 15px;
    margin-top: 6px;
}

.fa-info
{
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    width: 18px;
    height: 18px;
    color:#0065FC;
    margin-left: 10px;
    text-align: center;
    padding: 0.2em
}

/* Second Section -> Accomodation + Popular*/

.accomodationPopular
{
    display: flex;
}

.accomodationPopular figcaption
{
    font-weight: bold;
    padding-left: 2%;
}

.accomodationPopular p 
{
    padding-left: 2%;
}

article
{
    width: 66%;
}

aside
{
    width: 32%;
}

/* Section Accomodation */

.sectionAccomodation
{
    border: 1px red transparent; /* Border test */
    margin-top: 2%;
    margin-left: 3%;
}

.sectionAccomodation h1
{
    border-radius: 10px 10px 0 0;
    background-color: #F2F2F2;
    margin: 0%;
    padding-bottom: 1%;
    padding-top: 2%;
    padding-left: 4%;
    font-size: 1.3em;
}

.sectionAccomodation h2
{
    border-radius: 0px 0px 10px 10px;
    background-color: #F2F2F2;
    margin: 0%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 4%;
    font-size: 1em;
}

.sectionAccomodation p
{
    font-size: 0.8em;
}

/* Accomodation */

#accomodation
{
    background-color: #F2F2F2;
    border: 1px blue transparent; /* Border test*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Accomodation -> Hostel */

.hostel figure
{
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-right: 1.1em;
    margin-right: 5%;
}

.hostel:nth-child(1)
{
    border: 1px red transparent; /*border test*/
}

.marcusLoke
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.stars
{
    display: flex;
    padding-left: 2%;
}

.fa-star
{
    color: #0065FC;
    font-size: 0.6em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.grey
{
    color: #F2F2F2;
}


/* Accomodation -> Port */

.port figure
{
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-right: 1.1em;
    margin-right: 5%;
}

.port:nth-child(2)
{
    border: 1px green transparent; /*border test*/
}

.fredKleber
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/* Accomodation -> Seagull */

.seagull figure
{
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-right: 1.1em;
    margin-right: 5%;
}

.seagull:nth-child(3)
{
    border: 1px purple transparent; /*border test*/
}

.reisetopia
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/* Accomodation -> Beach */

.beach figure
{
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-right: 1.1em;
    margin-right: 5%;
}

.beach:nth-child(4)
{
    border: 1px blue transparent; /*border test*/
}
.annieSpratt
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Accomodation -> Basket */

.basket figure
{
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-right: 1.1em;
    margin-right: 5%;
}

.basket:nth-child(5)
{
    border: 1px greenyellow transparent; /*border test*/
}

.nicateLee
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px; 
}

/*Accomodation -> Amina */

.amina figure
{
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-right: 1.1em;
    margin-right: 5%;
}

.amina:nth-child(6)
{
    border: 1px black transparent; /*border test*/
}

.febrian
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px; 
}

/* Section Popular */

.sectionPopular
{
    display: flex;
    flex-direction: column;
    border: 1px red transparent; /* Border test */
    background-color: #F2F2F2;
    margin-top: 4%;
    margin-right: 8%;
    border-radius: 10px 10px 10px 10px;
    height: 94%;
}

.h1i
{
    display: flex;
}

.h1i h1
{
    border: 1px black transparent;
    font-size: 1.3em;
    padding-right: 30%;
    padding-left: 8%;
}

.h1i i
{
    padding-top: 5%;
    padding-left: 10%;
}

.sectionPopular figcaption
{
    padding-left: 55%;  
}

.sectionPopular p 
{
    padding-left: 55%;
    padding-top: 3%;
    font-size: 0.8em;
}

/* Popular -> Sun */

.sun figure
{
    border: 1px green transparent; /* border test */
    flex-direction: none;
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 1.2%;
    margin: 6%;
}

.sun:nth-child(1)
{
    border: 1px black transparent; /*border test*/
}

.emileGuillemot
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px; 
    float: left;
}

.starsPopular
{
    border: 1px red transparent; /* border test */
    display: flex;
    padding-top: 9%;
    padding-left: 5%;
}

/* Popular -> Water */

.water figure
{
    border: 1px transparent red;
    flex-direction: none;
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 1%;
    margin: 6%;
}

.water:nth-child(2)
{
    border: 1px black transparent; /* border test */
}

.awCreative
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px; 
    float: left;
}

.starsPopular2
{
    border: 1px red transparent; /* border test */
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
}


/* Popular -> allBlue */

.allBlue figure
{
    border: 1px transparent green; /* border test */
    flex-direction: none;
    background-color: white;
    border-radius: 10px;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 1.3%;
    margin: 6%;
}

.allBlue:nth-child(3)
{
    border: 1px red transparent; /* border test*/
}

.febrianZakaria
{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0px 0px; 
    float: left;
}

.starsPopular3
{
    border: 1px red transparent; /* border test */
    display: flex;
    padding-top: 9%;
    padding-left: 5%;
}